@import './constants.css';

/* DEBUG */
#debug-str {
    display: none;
}

.clock {
    position: relative;

    height: var(--size-clock);
    width: var(--size-clock);
    border-radius: 50%;
    border: solid 6px;
    border-color: var(--color-rim);
    
    background-color: var(--color-clock);

    box-shadow: var(--box-shadow-clock);
}

#clock-two {
    border-radius: 0%;
}

#clock-three {
    border-radius: 30%;
}

/* #region hour markings */
.hour-marking {
    height: 50%;

    width: 15%;
    left: calc(50% - (15% / 2));

    position: absolute;
    bottom: 50%;
    transform: translate(-50%, 50%);
    transform-origin: bottom;
    background-color: transparent;

    text-align: center;
    /* z-index: 1; */
}

.hour-marking p {    
    font-size: 1.2rem;
    color:var(--color-light-mode-text);
    margin:auto; 
    text-shadow: 1px 2px 2px darkgray;
}
/* #endregion */

/* #region hand */
.hand {
    position: absolute;
    bottom: 50%;
    transform-origin: bottom;
    box-shadow: var(--box-shadow-clock-hands);
}

.hour-hand {
    height: var(--height-hour);
    width: var(--width-hour);

    left: calc(50% - var(--width-hour) / 2);

    border-radius: var(--border-radius-hour);
    background-color: var(--color-hour);
}

.minute-hand {
    height: var(--height-minute);
    width: var(--width-minute);

    left: calc(50% - var(--width-minute) / 2);

    border-radius: var(--border-radius-minute);
    background-color: var(--color-minute);
}

.second-hand {
    height: var(--height-second);
    width: var(--width-second);

    left: calc(50% - var(--width-second) / 2);

    border-radius: var(--border-radius-second);
    background-color: var(--color-second);
}
/* #endregion */

/* #region centre */
.center {
    position: absolute;
    border-radius: 50%;
}

.hour-center {
    width: var(--size-hour-center);
    height: var(--size-hour-center);

    left: calc(50% - (var(--size-hour-center) / 2));
    bottom: calc(50% - (var(--size-hour-center) / 2));

    background-color: var(--color-hour);
}

.minute-center {
    width: var(--size-minute-center);
    height: var(--size-minute-center);

    left: calc(50% - (var(--size-minute-center) / 2));
    bottom: calc(50% - (var(--size-minute-center) / 2));

    background-color: var(--color-minute);
}

.second-center {
    width: var(--size-second-center);
    height: var(--size-second-center);

    left: calc(50% - (var(--size-second-center) / 2));
    bottom: calc(50% - (var(--size-second-center) / 2));

    background-color: var(--color-second);
}
/* #endregion */

/* #region disabled */
.clock-disabled {
    border-color: var(--color-rim-disabled) !important; /* Take priority */
    background-color: lightgray;
}

.second-hand-disabled {
    background-color: var(--color-second-disabled) !important;
}

.minute-hand-disabled {
    background-color: var(--color-minute-disabled) !important;
}

.hour-hand-disabled {
    background-color: var(--color-hour-disabled) !important;
}
/* #endregion */

/* #region correct */
.clock-correct {
    border-color: var(--color-rim-correct) !important; 
    background-color: var(--color-clock-correct) !important;
}

.second-hand-correct {
    background-color: var(--color-second-correct) !important;
}

.minute-hand-correct {
    background-color: var(--color-minute-correct) !important;
}

.hour-hand-correct {
    background-color: var(--color-hour-correct) !important;
}
/* #endregion */