:root {
    --color-header-theme1: #afe6eb;
    --color-header-theme2: #68c4af;
    --color-header-theme3:#ffffba;
    --color-header-theme4: #d09cd9;
    --color-header-theme5: #d9aa9c;

    --color-header: var(--color-header-theme2);


    --color-header-text: rgb(60,60,60);

    --color-icon: rgb(60,60,60);
    --color-icon-hover: rgb(225,225,225);

    --color-light-mode: whitesmoke;
    --color-light-mode-text: rgb(60,60,60);

    --color-dark-mode: rgb(43,43,43);
    --color-dark-mode-text: lightgray;

    --box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

    --box-shadow-clock: 4px 5px 15px rgba(0, 0, 0, 0.35);


    --box-shadow-clock-hands: 4px 5px 5px rgba(0, 0, 0, 0.35);

}