@import './constants.css';

/* Tablets (iPads and similar devices) */
@media (max-width: 768px) {
    body {
        color: blue;
    }
    
    .clock {
        height: var(150px);
        width: var(150px);
    }
}

/* Larger tablets and small laptops */
@media (min-width: 1024px) {
    body {
        color: red;
    }
}