@import './constants.css';


  /* #region switcher / slider */
  
  .switcher input {
    display: none;
  }
  
  .switcher {
    position: relative;
    border-radius: 10px;
    display: flex;
    padding: 0 3px;
    margin:1rem;

    box-shadow: var(--box-shadow);

    background-color: light-dark(var(--color-dark-mode), var(--color-light-mode));
}
  
.switcher ion-icon {
    margin-right: 20px;
    font-size: 30px;
    margin-top: 3px;

    color:light-dark(var(--color-light-mode), var(--color-dark-mode));
}

  .switcher label {
    position: relative;
    z-index: 2;
    width: calc(100% / 2);
    color:light-dark(var(--color-light-mode), var(--color-dark-mode));

  }
  
  .switcher label span {
    padding: 8px 0;
    display: flex;
    justify-content: center;
    font-weight: 600;
    opacity: 0.8;
    align-items: center;
  }
  
  .switcher label span:hover {
    opacity: 1;
    cursor: pointer;
  }
  
  .switcher .slider {
    position: absolute;
    z-index: 1;
    width: calc((100% - 6px) / 2);
    top: 3px;
    transform: translatex(-110%);
    bottom: 3px;
    border-radius: 8px;
    transition: .30s ease, transform 0.25s ease-out;
    background-color: var(--color-selection);
  }
  
  .switcher input:nth-of-type(1):checked ~ .slider {
    transform: translateX(0);
  }
  .switcher input:nth-of-type(2):checked ~ .slider {
    transform: translateX(100%);
  }
  .switcher input:nth-of-type(3):checked ~ .slider {
    transform: translateX(200%);
  }
  
  /* #endregion */

  



  
.item-button {
    border: none;
    padding: 5px;
    font-size: 31px;
    height: 130px;
    width: 130px;
    /* box-shadow: 2px 4px 4px lightgray; */
    height: 65px;
    width: 65px;

    border-radius: 20%;

	/* outline: 2px solid light-dark(var(--color-dark-mode), var(--color-light-mode)); */
}

.item-button:hover {
    /* border:4px solid light-dark(var(--color-dark-mode-text), var(--color-light-mode-text)); */

    outline: 5px solid var(--color-selection);
    outline-offset: 4px;

    cursor: pointer;
}
  
.orb-1 {
    background-color: var(--color-header-theme1);
}
  
.orb-2 {
    background-color: var(--color-header-theme2);
}

.orb-3 {
    background-color: var(--color-header-theme3);
}

.orb-4 {
    background-color: var(--color-header-theme4);
}

.orb-5 {
    background-color: var(--color-header-theme5);
}

.marker-1, .marker-2, .marker-3, .marker-4, .marker-5 {
    background-color: var(--color-clock);
	color: var(--color-light-mode-text);
}

.marker-2::before {
	content: "|";
}

.marker-3::before {
	content: "XII";
}

.marker-4::before {
	content: "12";
}

.marker-5::before {
  content:"Rnd";
}

/* #region Modals */ 

.modal-container {
    position: fixed; 
    z-index: 1;
    left: 0; 
    top: 0; 
    width: 100%;
    height: 100%;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.5); /* Black w/ opacity */

    animation-name: animate-modal;
    animation-duration: 0.5s; 

    display: flex;
    justify-content: center;
    align-content: center;

    /* All menus must be on top */
    z-index: 10;

    display: none;
}

@keyframes animate-modal {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.modal-content {
    height:fit-content;
    margin: auto;
    border-radius: 10px;
    overflow: hidden; /* Ensures children don't overflow the parent's rounded corners */

    background-color: light-dark(var(--color-light-mode), var(--color-dark-mode));
}

#settings-modal .modal-content {
    width: 30%;
}

#about-modal .modal-content {
    width: 40%; 
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 16px;
    height: 15px;
    background-color: var(--color-header);
    color: var(--color-light-mode-text);
    border-bottom: 1px solid light-dark(var(--color-light-mode-text), var(--color-dark-mode-text));
}

.modal-header:before {
        content: '';
}

.modal-close {
    color: black;
    float: right;
    font-size: 48px;
    font-weight: bold;
}

.modal-body {
    padding: 16px;
    padding-top: 0px !important;

    padding: 1rem;
    transition: border-color .30s ease;
    position: relative;

    font-size: 1.3rem;
    line-height: 1.5;

    color: light-dark(var(--color-light-mode-text), var(--color-dark-mode-text)) !important;

}

.modal-body h2, summary {
  margin-top: 0.5rem;
    font-weight: bold;
    font-size: 1.25rem;
}


.modal-body details {
    margin-top: 15px;
    /* font-size: 1.5rem; */


    /* border-bottom: 1px solid var(--color-light-mode-text); */
    /* border-bottom: 1px solid grey; */
}

.modal-body details p, ul {
    font-weight: normal;
    list-style-type:disc;
    margin-left: 50px;


}


  
.modal-close:hover,
.modal-close:focus {
    color: var(--color-icon-hover);
    text-decoration: none;
    cursor: pointer;

    transition: color 0.3s;  
}

.modal-break {
    border-top: 1px solid light-dark(var(--color-light-mode-text), var(--color-dark-mode-text));
}

.modal-items {
    display: flex;
    justify-content: space-around;
    padding: 0.75rem;
}

.modal-button {
 

    margin-top: .5rem;
    border-radius: 4px;

    transition: .30s ease;
    background-color: transparent;
  
    display: flex;
    justify-content: flex-start;
    align-items: center;
  
    border: none;
 
    width:100%;
    box-shadow: var(--box-shadow);
    /* box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19); */
  }
  
.modal-button-icon {
    margin-left: 10px;
    font-size: 45px;

    color: light-dark(var(--color-light-mode-text), var(--color-dark-mode-text));
}

.modal-button-label {
    font-size: 1.25rem;
    padding-left: 1rem;
}

.modal-button:hover {
    background-color: var(--color-selection);
    color: light-dark(var(--color-light-mode-text), var(--color-dark-mode-text));
}

/*#endregion*/