/* 
		Project: Setting Menu
    Created: Thursday, 10 February 2022
    Author: Jamshid Elmi 
    Tutorial: https://youtu.be/DzZbbXaLWeE
*/

@import './constants.css';

ion-icon {
    margin-right: 20px;
    font-size: 30px;
    margin-top: 3px;

    color: green;
}


  
 


  /* #region switcher / slider */
  
  .switcher input {
    display: none;
  }
  
  .switcher {
    position: relative;
    background-color: darkblue;
    border-radius: 10px;
    display: flex;
    padding: 0 3px;
    margin:1rem;
  }
  
  .switcher label {
    position: relative;
    z-index: 2;
    width: calc(100% / 2);
    color: green;
  }
  
  .switcher label span {
    padding: 8px 0;
    display: flex;
    justify-content: center;
    font-weight: 600;
    opacity: 0.8;
    align-items: center;
  }
  
  .switcher label span:hover {
    opacity: 1;
    cursor: pointer;
  }
  
  .switcher .slider {
    position: absolute;
    z-index: 1;
    width: calc((100% - 6px) / 2);
    top: 3px;
    transform: translatex(-110%);
    bottom: 3px;
    border-radius: 8px;
    transition: .30s ease, transform 0.25s ease-out;
    background-color: lightblue;
  }
  
  .switcher input:nth-of-type(1):checked ~ .slider {
    transform: translateX(0);
  }
  .switcher input:nth-of-type(2):checked ~ .slider {
    transform: translateX(100%);
  }
  .switcher input:nth-of-type(3):checked ~ .slider {
    transform: translateX(200%);
  }
  
  /* #endregion */

  


  .orb {
    font-size: 50px;
    border-radius: 50%;
  }
  
  .orb:hover {
    background-color: light-dark(var(--color-dark-mode-text), var(--color-light-mode-text));
    /* font-size: 150%; */
  }
  
.orb-1 {
    color: var(--color-header-theme1);
}
  
.orb-2 {
    color: var(--color-header-theme2);
}

.orb-3 {
    color: var(--color-header-theme3);
}

.orb-4 {
    color: var(--color-header-theme4);
}

.orb-5 {
    color: var(--color-header-theme5);
}






/*#region Modals*/

.modal-container {
    
    display: block; /* TODO -> change to none, just debugging*/
    position: fixed; 
    z-index: 1;
    left: 0; 
    top: 0; 
    width: 100%;
    height: 100%;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.5); /* Black w/ opacity */

    animation-name: animate-modal;
    animation-duration: 0.5s; 
}



@keyframes animate-modal {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.modal-content {
    margin: 10% auto;
    width: 40%; 
    border-radius: 10px;
    overflow: hidden; /* Ensures children don't overflow the parent's rounded corners */

    background-color: light-dark(var(--color-light-mode), var(--color-dark-mode));
}

/* TODO - remove just for styling */
#settings-modal .modal-content {
    margin: 0%;
}

#about-modal .modal-content {
    margin: 0% auto;
}

#settings-modal .modal-content {
    width: 30%;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 16px;
    height: 32px;
    background-color: var(--color-header);
    color: var(--color-light-mode-text);
    border-bottom: 1px solid light-dark(var(--color-light-mode-text), var(--color-dark-mode-text));
}

.modal-header:before {
        content: '';
}

.modal-close {
    color: black;
    float: right;
    font-size: 48px;
    font-weight: bold;
}

.modal-body {
    padding: 16px;
    padding-top: 0px !important;

    padding: 1rem;
    transition: border-color .30s ease;
    position: relative;

    font-size: 1.3rem;
    line-height: 1.5;

    color: light-dark(var(--color-light-mode-text), var(--color-dark-mode-text)) !important;

}

.modal-body h2, summary {
    font-weight: bold;
    font-size: 1.8rem;
}


.modal-body details {
    margin-top: 15px;
    /* font-size: 1.5rem; */


    /* border-bottom: 1px solid var(--color-light-mode-text); */
    /* border-bottom: 1px solid grey; */
}

.modal-body details p, ul {
    font-weight: normal;
    list-style-type:disc;
    margin-left: 50px;


}


  
.modal-close:hover,
.modal-close:focus {
    color: var(--color-icon-hover);
    text-decoration: none;
    cursor: pointer;

    transition: color 0.3s;  
}

.modal-break {
    border-top: 1px solid light-dark(var(--color-light-mode-text), var(--color-dark-mode-text));
}

.modal-items {
    display: flex;
    justify-content: space-around;
    padding: 0.5rem;
}

.modal-button {
    text-decoration: none;

    margin-top: .5rem;
    border-radius: 4px;

    transition: .30s ease;
    background-color: transparent;
    border: 1px solid var(blue);
  
    display: flex;
    justify-content: flex-start;
    align-items: center;
  
    width:100%;
  }
  
  .modal-button-icon {
    margin-left: 10px;
    font-size: 45px;
    color: var(--color-icon);
}

  .modal-button-label {
    font-size: 1.8rem;
  }

.modal-button:hover {
    background-color: light-dark(var(--color-dark-mode-text), var(--color-light-mode-text));
}

/*#endregion*/