@import url('https://fonts.googleapis.com/css?family=Oswald:400,700');

:root {
    --color-light-mode: whitesmoke;
    --color-light-mode-text: rgb(60,60,60);

    --color-dark-mode: rgb(43,43,43);
    --color-dark-mode-text: whitesmoke;

    --color-light-mode-header: lightblue;
    --color-dark-mode-header: darkgray;

    --hover-color: lightblue;

    --color-clock: rgb(236, 233, 226);
    --color-clock-correct: #84ca9e; 

    --color-rim: cornflowerblue;
    --color-rim-disabled: rgb(120,120,120);
    --color-rim-correct: green;

    --color-second: rgb(80,80,80);
    --color-second-disabled: rgb(120,120,120);
    --color-second-correct: rgb(94, 224, 94);

    --color-minute: #297e22;
    --color-minute-disabled: rgb(100,100,100);
    --color-minute-correct: rgb(16, 146, 16);

    --color-hour: brown;
    --color-hour-disabled: rgb(80,80,80);
    --color-hour-correct: green;



    --size-clock: 300px;

    --size-second-center: 4%; 
    --size-minute-center: 8%; 
    --size-hour-center: 12%; 

    --height-second: 48%;
    --height-minute: 40%;
    --height-hour: 30%;

    --width-second: 4px;
    --width-minute: 8px;
    --width-hour: 12px; 

    --border-radius-second: 5px;
    --border-radius-minute: 5px;
    --border-radius-hour: 5px;
}

a {
    color: cornflowerblue;
    font-family: 'Oswald', sans-serif;
}

/* a:hover {
    color: blue;
} */

.question-name-highlight {
    font-weight: bold;
}



.dark-mode {
    background-color: var(--color-dark-mode);
    border-bottom: 1px solidvar(--color-dark-mode-text);
    color: var(--color-dark-mode-text);
}

/*#region Header*/

header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    flex-wrap: nowrap;
    
    background-color: var(--color-light-mode-header);

    color: var(--color-light-mode-text);
    border-bottom: 1px solid var(--color-light-mode-text);

    width: 100%;
    height: 100%;
}

.title {
    font-weight: bolder;
    font-size: 1.5rem; 
    text-align: center;
    color: black;
}

.header-section {
    font-size: 1.25rem; 

    display: flex;
    flex-direction: row;
    gap: 50px;

    flex: 1;
    align-items: center;
}

.settings {
    justify-content: flex-start;
}

.settings:before {
    content:"";
}

.stats {
    justify-content: flex-end;
}

.stats:after {
    content:"";
}

#timer-text {
    overflow: hidden;
}

#win-meter {
    height: 30px;
}

.color-mode-btn {
    background-color: var(--color-dark-mode);
    border: 2px solid var(--color-dark-mode-text);

    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px; 
    width: 40px;
    height: 40px;

    border-radius: 50%;
}

/*#endregion*/

#play-again-button {
    font-family: 'Oswald', sans-serif;
    font-size: 1.75rem; 
    padding: 1rem 2rem;
    outline: none;
    border: none;
    cursor: pointer;
    color: var(--color-light-mode);
    background: #22C55E;
    border-radius: 0.5rem;
}

#play-again-button:hover {
    border: 3px solid var(--color-light-mode);
    box-shadow: 0 0 0 3px #22C55E;
}

body {
    display: grid;
    place-items: center;
    grid-template-rows: 8% 50% 10% auto auto;

    height: 100vh;
    width: 100vw;

    background-color: var(--color-light-mode);
    color: var(--color-light-mode-text);
    border-bottom: 1px solid var(--color-light-mode-text);

    font-family: 'Oswald', sans-serif;
    overflow:hidden;
    margin: 0px;
}


.question {
    font-size: 2rem;
}

.results-area {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column; /* Ensure child elements stack vertically */
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Prevent text overflow */
    margin: none; 
}

#result-text {
    font-size: 3rem;  
}

.extra-info-text {
    font-size: 1.5rem;  
}

#result-text, .extra-info-text {
    margin: 0;
}



.result {
    color: var(--color-rim-correct);
}

.answer-incorrect {
    color: brown;
}

#debug-str {
    display: flex;
    justify-content: center;
    align-items: center;  
    font-size: 1.5rem;
}


.clocks {
    width:100%;
    height: 100%;
    display: flex;
    grid-gap: 50px;
    justify-content: center;
    align-items: center;  
}

/*#region Clock*/

.clock {
    position: relative;

    height: var(--size-clock);
    width: var(--size-clock);
    border-radius: 50%;
    border: solid 6px;
    border-color: var(--color-rim);
    background-color: var(--color-clock);
}

#clock-two {
    border-radius: 0%;
}

#clock-three {
    border-radius: 30%;
}

.hand {
    position: absolute;
    bottom: 50%;
    transform-origin: bottom;
}

.hour-hand {
    height: var(--height-hour);
    width: var(--width-hour);

    left: calc(50% - var(--width-hour) / 2);

    border-radius: var(--border-radius-hour);
    background-color: var(--color-hour);
}

.minute-hand {
    height: var(--height-minute);
    width: var(--width-minute);

    left: calc(50% - var(--width-minute) / 2);

    border-radius: var(--border-radius-minute);
    background-color: var(--color-minute);
}

.second-hand {
    height: var(--height-second);
    width: var(--width-second);

    left: calc(50% - var(--width-second) / 2);

    border-radius: var(--border-radius-second);
    background-color: var(--color-second);
}

.center {
    position: absolute;
    border-radius: 50%;
}

.hour-center {
    width: var(--size-hour-center);
    height: var(--size-hour-center);

    left: calc(50% - (var(--size-hour-center) / 2));
    bottom: calc(50% - (var(--size-hour-center) / 2));

    background-color: var(--color-hour);
}

.minute-center {
    width: var(--size-minute-center);
    height: var(--size-minute-center);

    left: calc(50% - (var(--size-minute-center) / 2));
    bottom: calc(50% - (var(--size-minute-center) / 2));

    background-color: var(--color-minute);
}

.second-center {
    width: var(--size-second-center);
    height: var(--size-second-center);

    left: calc(50% - (var(--size-second-center) / 2));
    bottom: calc(50% - (var(--size-second-center) / 2));

    background-color: var(--color-second);
}

.clock-disabled {
    border-color: var(--color-rim-disabled) !important; /* Take priority */
    background-color: lightgray;
}

.second-hand-disabled {
    background-color: var(--color-second-disabled) !important;
}

.minute-hand-disabled {
    background-color: var(--color-minute-disabled) !important;
}

.hour-hand-disabled {
    background-color: var(--color-hour-disabled) !important;
}

.clock-correct {
    border-color: var(--color-rim-correct) !important; /* Take priority */
    background-color: var(--color-clock-correct) !important;
}

.second-hand-correct {
    background-color: var(--color-second-correct) !important;
}

.minute-hand-correct {
    background-color: var(--color-minute-correct) !important;
}

.hour-hand-correct {
    background-color: var(--color-hour-correct) !important;
}

/*#endregion*/






/*#region Modals*/

.modal-container {
    display: block;
    position: fixed; 
    z-index: 1;
    left: 0; 
    top: 0; 
    width: 100%;
    height: 100%;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.5); /* Black w/ opacity */

    animation-name: animate-modal;
    animation-duration: 0.5s; 
}

@keyframes animate-modal {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.modal-content {
    margin: 15% auto; /* 15% from the top and centered */
    width: 50%; 
    border-radius: 10px;
    overflow: hidden; /* Ensures children don't overflow the parent's rounded corners */
    background-color: white;  
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 16px;
    height: 32px;
    background-color: lightblue; 
    border-bottom: 1px solid var(--color-light-mode-text);
}

.modal-header:before {
        content: '';
}

.modal-body {
    padding: 16px;
    background-color: white; /* Ensure body remains white */
}

.modal-body details {
    margin-top: 15px;
    /* border-bottom: 1px solid var(--color-light-mode-text); */
}

.modal-close {
    color: black;
    float: right;
    font-size: 48px;
    font-weight: bold;
}
  
.modal-close:hover,
.modal-close:focus {
    color: orangered;
    text-decoration: none;
    cursor: pointer;
}

/*#endregion*/